In [2]:
%pip install seaborn

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('fertilizer.csv')

In [5]:
data

                    Crop    N   P   K    pH
0                  Wheat  120  30  60  6.00
1                  Wheat  120  30  60  6.50
2                  Wheat  120  30  60  7.00
3                   Rice   80  40  40  5.50
4            Barley(JAV)   70  40  45  5.50
..                   ...  ...  ..  ..   ...
207  Lentils(Masoor Dal)   20  60  20  5.32
208               Potato  180  60  90  4.82
209               Cotton  120  40  20  5.32
210                 Jute   80  40  40  5.32
211               Coffee  100  20  30  5.32

[212 rows x 5 columns]

In [6]:
data['Crop'].value_counts()

Rice                     19
Barley(JAV)              19
Maize                    19
Chickpeas(Channa)        19
Kidney beans             19
pigeon peas(Toor Dal)    19
Lentils(Masoor Dal)      19
Potato                   19
Cotton                   19
Jute                     19
Coffee                   19
Wheat                     3
Name: Crop, dtype: int64

In [7]:
mask = data['Crop']=='Barley(JAV)'
data = data[~mask]

In [8]:
# renaming crops

data.loc[data['Crop']=='Rice', 'Crop'] = 'rice'
data.loc[data['Crop']=='Maize', 'Crop'] = 'maize'
data.loc[data['Crop']=='Chickpeas(Channa)', 'Crop'] = 'chickpeas'
data.loc[data['Crop']=='Kidney beans', 'Crop'] = 'kidney_bean'
data.loc[data['Crop']=='pigeon peas(Toor Dal)', 'Crop'] = 'pigeon_peas'
data.loc[data['Crop']=='Lentils(Masoor Dal)', 'Crop'] = 'lentil'
data.loc[data['Crop']=='Potato', 'Crop'] = 'potato'
data.loc[data['Crop']=='Cotton', 'Crop'] = 'cotton'
data.loc[data['Crop']=='Jute', 'Crop'] = 'jute'
data.loc[data['Crop']=='Coffee', 'Crop'] = 'coffee'
data.loc[data['Crop']=='Wheat', 'Crop'] = 'wheat'

In [9]:
data['Crop'].unique()

array(['wheat', 'rice', 'maize', 'chickpeas', 'kidney_bean',
       'pigeon_peas', 'lentil', 'potato', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [10]:
x = data[['N','P','K','pH']]
y = data['Crop']
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size= 0.2, random_state=2)

In [17]:
predicted_crop = forest.predict(df)[0]
predicted_crop

'jute'

In [18]:
from sklearn.naive_bayes import GaussianNB

bayes = GaussianNB()

bayes.fit(xtrain,ytrain)

predicted_values = bayes.predict(xtest)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,predicted_values)

0.6153846153846154

In [14]:
# example prediction
a= {}
a['N'] = 80
a['P'] = 60
a['K'] = 60
a['pH'] = 5.5
df = pd.DataFrame(a, columns=['N','P','K','pH'], index=[0])
df

    N   P   K   pH
0  80  60  60  5.5

In [20]:
predicted_crop2 = bayes.predict(df)[0]
predicted_crop2

'jute'

In [23]:
import pickle
NB_Model_pkl = open('naive_bayes_classifier.pkl', 'wb')
pickle.dump(bayes, NB_Model_pkl)
NB_Model_pkl.close()

In [25]:
NB_pkl = open('naive_bayes_classifier.pkl', 'rb')
NB_model = pickle.load(NB_pkl)

In [26]:
test_pred = NB_model.predict(df)[0]
test_pred

'jute'